.container {
    background: #000000;
    background: oklch(0% 0 0);
    color: #ffffff;
    color: oklch(100% 0 0);
    margin: 0;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 50px 1fr 300px;
    min-height: 100vh;
    grid-template-areas:
        "n_bar n_bar n_bar"
        ". con ."
        ". footer ."
}

.nav_bar {
    grid-area: n_bar;
}

.content {
    grid-area: con;
}

.foot{
    grid-area: footer;
}