.cards_destacados {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items:center;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    gap: 10px;
}