.cards_destacados {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items:center;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    gap: 10px;
}

@media (width > 520px ){
    .cards_destacados {
        grid-template-columns: 1fr 1fr;
    }
}