<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> <!-- Codificación -->
        <meta name="viewport" content="width=device-width">

        <!-- Titulo de la pagina y meta descripción -->
        <title>{{pagina_titulo}}</title>
        <meta name="description" content={{meta_descripcion}}>

        <!-- Hoja de estilos -->
        {% block stylesheet %}
        {% endblock %}

    </head>
    <body class="container">
        <section class="nav_bar">

        </section>
        <section class="content">

        </section>
        <section class="foot">
            
        </section>

    </body>
</html>