
<link rel="stylesheet" href="/static/css/header_style.css">

<section class="h_header">
    <div class="header_uno">
        <img title="Logo de Chimallidev" 
            alt="Logotipo de Chimallidev" 
            src="/static/img/logo.avif">
        <div class="header1_section">
            <header>
                <h2>Erick Roman</h2>
            </header>
            <small>
                <h3>@chimallidev</h3>
            </small>
            <footer>
                <a href="https://solucionint.com/"
                target="_blank">
                    <img title="Github de Chimallidev"
                    alt="Enlace a Github de Chimallidev"
                    src="/static/img/icons/github.svg">

                </a>
                <a href="https://x.com/"
                target="_blank">
                    <img title="Cuenta de X de Chimallidev"
                    alt="Enlace a la cuenta de X de Chimallidev"
                    src="/static/img/icons/x.svg">

                </a>
            </footer>
        </div>
    </div>
    <div class="header_separador"></div>
</section>