{% import "/components/button.html" as comp %}

<link rel="stylesheet" href="/static/css/links_cursos_style.css">

<section class="cursos">
    <header>
        <h2>Cursos gratis</h2>
    </header>
    {{ comp.button(
        "btn_links",
        "https://youtube.com",
        "_blank",
        "/static/img/icons/python.svg",
        "Boton del curso de Python",
        "Python desde cero",
        "Fundamentos de Python"
    ) }}
    {{ comp.button(
        "btn_links",
        "https://youtube.com",
        "_blank",
        "/static/img/icons/empty.svg",
        "Boton de curso vacío",
        "Vacío",
        "Próximamente"
    ) }}
    {{ comp.button(
        "btn_links",
        "https://youtube.com",
        "_blank",
        "/static/img/icons/empty.svg",
        "Boton de curso vacío",
        "Vacío",
        "Próximamente"
    ) }}
    {{ comp.button(
        "btn_links",
        "https://youtube.com",
        "_blank",
        "/static/img/icons/empty.svg",
        "Boton de curso vacío",
        "Vacío",
        "Próximamente"
    ) }}
</section>