<link rel="stylesheet" href="/static/css/links_style.css">
<section class="links_l">
    <button class="btn_links" onclick="window.open('https://x.com/', '_blank')">
        <img src="/static/img/icons/code.svg" 
        alt="Boton de cursos">
        <div>
            <strong>Cursos</strong>
            <small>Recursos gratis de programación</small>
        </div>
    </button>
    <button class="btn_links" onclick="window.open('https://x.com/', '_blank')">
        <img src="/static/img/icons/youtube.svg" 
        alt="Boton de youtube">
        <div>
            <strong>YouTube</strong>
            <small>Videos sobre programación</small>
        </div>
    </button>
    <button class="btn_links" onclick="window.open('https://x.com/', '_blank')">
        <img src="/assets/tik tok.svg" 
        alt="Boton de tik tok">
        <div>
            <strong>Tik Tok</strong>
            <small>Videos cortos de programación</small>
        </div>
    </button>
    <button class="btn_links" onclick="window.open('https://x.com/', '_blank')">
        <img src="/assets/instagram.svg" 
        alt="Boton de instagram">
        <div>
            <strong>Instagram</strong>
            <small>Mi día a día como programador</small>
        </div>
    </button>
    <div class="btn_separador"></div>
    <button class="btn_links" onclick="window.open('https://x.com/', '_blank')">
        <img src="/assets/coffee.svg" 
        alt="Boton para donar/invitar un cafe a Chimallidev">
        <div>
            <strong>Invítame un café</strong>
            <small>¿Quieres apoyarme?</small>
        </div>
    </button>
</section>