{% import "/components/button.html" as comp %}

<link rel="stylesheet" href="/static/css/links_style.css">
<section class="links_l">
    {{ comp.button(
        "btn_uno",
        "https://x.com/",
        "_self",
        "/static/img/icons/code.svg",
        "Boton de cursos",
        "Cursos",
        "Recursos gratis de programación"
    ) }}
    {{ comp.button(
        "btn_links",
        "https://x.com/",
        "_blank",
        "/static/img/icons/youtube.svg",
        "Boton de youtube",
        "YouTube",
        "Videos sobre programación"
    ) }}
    {{ comp.button(
        "btn_links",
        "https://x.com/",
        "_blank",
        "/static/img/icons/tik tok.svg",
        "Boton de tik tok",
        "Tik Tok",
        "Videos cortos de programación"
    ) }}
    {{ comp.button(
        "btn_links",
        "https://x.com/",
        "_blank",
        "/static/img/icons/instagram.svg",
        "Boton de instagram",
        "Instagram",
        "Mi día a día como programador"
    ) }}
    <div class="btn_separador"></div>
    {{ comp.button(
        "btn_links",
        "https://x.com/",
        "_blank",
        "/static/img/icons/coffee.svg",
        "Boton para donar/invitar un cafe a Chimallidev",
        "Invítame un café",
        "¿Quieres apoyarme?"
    ) }}
</section>